body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: vh;
    margin: 100;
}

.container {
    display: flex;
    align-items: flex-start;
    padding: 10px;
    border-radius: 8px;
    gap: 20px;
    
}

.tabela {
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: solid black;
    flex: 1;
}

.tabela img {
    max-width: 100%;
    height: auto;
}

.ficha {
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: solid gray;
    flex: 2;
    max-width: 600px;
}

textarea {
    width: 100%;
    height: 600px;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    font-size: 16px;
    background-color: #f9f9f9;
    color: #333;
    resize: none; /* Impede o redimensionamento */
    overflow: auto;
}

.dados {
    padding: 10px;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: solid black;
    flex: 1;
}

input[type="number"] {
    width: 60px;
    padding: 5px;
    margin: 10px 0;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    background-color: #28a745;
    color: #fff;
}

button:hover {
    background-color: #218838;
}

#results {
    margin-top: 20px;
}
